<div id="footer">
  <div class="left">
    <%= hook :footer_left %>
  </div>
  <div class="right">
    <%= hook :footer_right %>
  </div>
</div>   
<%= Tracker.current.analytics_id rescue '000' %>
<%= render 'shared/google_analytics' %>
